.grid-container{
  display: grid;
  padding: 10px;
  gap: 5px;
}

.basico{
  grid-template-columns: 1fr 1fr 1fr ;
  grid-auto-rows: 100px;
}

.item-grid{
  border: solid 1px;
  background-color: #2196f3;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  
}

.repeat-minmax{
  grid-template-columns: repeat(4,minmax(150px, 2fr));
}

.auto-fit{
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.sobreposicao{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:100px 100px;
  position: relative;
}

.item1{
  grid-column: 1/4;
}
.item2{
  grid-column: 2/3;
}

.item3{
  grid-column: 2/4;
}
.item4{
  grid-column: 3/4;
}

.areas-nomeadas{
grid-template-areas:
'cabecalho cabecalho'
'menu conteudo'
'rodape rodape'
;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto

}

.cabecalho{
 grid-area: cabecalho;
}

.menu{
  grid-area: menu;
}

.conteudo{
  grid-area: conteudo;
}

.rodape{
  grid-area: rodape;

}

.grid-aninhado{
  grid-template-columns: repeat(2, 1fr);
}

.subgrid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.layout-pagina{
  grid-template-areas: 
  'header header header'
  'nav main aside'
  'footer footer footer'
   ;

   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: auto 1fr auto;
   height: 500px;
}

.header{
  grid-area: header;
  background-color: brown;
}

.nav{
  grid-area: nav;
  background-color: rgb(77, 47, 47);
}

.main{
  grid-area: main;
  background-color: rgb(45, 28, 28);
}

.aside{
  grid-area: aside;
  background-color: rgb(143, 102, 102);
}

.footer{
  grid-area: footer;
  background-color: rgb(37, 30, 30);
}

@media(max-width: 700px){
  .layout-pagina{
    grid-template-areas:
    'header'
    'nav'
    'main'
    'aside'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
